@using MeuLembrete.Core.Model;

@if (Lembretes != null && Lembretes.Any())
{
    <div class="list-group">
        @foreach (Lembrete lembrete in Lembretes)
        {
            <LembreteDetail Lembrete="lembrete" ExibeBotoesDeAcao="@ExibeBotoesDeAcao"></LembreteDetail>
        }
    </div>
}
else
{
    <div class="alert alert-secondary">Nenhum lembrete pode ser exibido.</div>
}
@code {

    [Parameter]
    public IEnumerable<Lembrete> Lembretes { get; set; }

    [Parameter]
    public bool ExibeBotoesDeAcao { get; set; } = true;
}
