@using MeuLembrete.Core.Model;
@using MeuLembrete.Core.Services;

@inject INotificationService NotificationService;

<div class="mb-3">
    <label for="tituloLembrete" class="form-label">Titulo</label>
    <input type="text" class="form-control" id="tituloLembrete" placeholder="Titulo" @bind="Lembrete.Titulo">
</div>
<div class="mb-3">
    <label for="detalheLembrete" class="form-label">Detalhe</label>
    <textarea class="form-control" id="detalheLembrete" rows="3" @bind="Lembrete.Detalhe"></textarea>
</div>
<button @onclick="adicionarNovoAlerta" class="btn btn-primary mb-3">
    <span class="oi oi-plus me-2" aria-hidden="true"></span>
    Adicionar alerta
</button>

@foreach (Alerta alerta in Lembrete.Alertas)
{
    <ConfiguracaoAlerta @key="alerta" Alerta="alerta"></ConfiguracaoAlerta>
}

@code {

    [Parameter]
    public Lembrete Lembrete { get; set; }

    private void adicionarNovoAlerta()
    {
        Lembrete.Alertas.Add(new Alerta()
            {
                DataInicio = DateTime.Now
            });

    }

    private void removerAlerta(int id)
    {

    }

}
