@page "/"

@using MeuLembrete.Core.Services;
@using MeuLembrete.Core.Model;
@using MeuLembrete.Shared.LembreteComponents;

@inject LembreteCachedRepository LembreteCachedRepository;
<h1>Meu Lembrete</h1>

Veja um resumo dos seus lembretes abaixo.

<LembreteList Lembretes ="lembretes"></LembreteList>

@code{
    List<Lembrete> lembretes = new List<Lembrete>();

    protected override async Task OnInitializedAsync()
    {
        lembretes = LembreteCachedRepository.LembretesCache.ToList();
    }

}