@page "/lembrete/editar/{Id:guid}"
@using MeuLembrete.Core.Services;
@using MeuLembrete.Core.Model;

@inject LembreteCachedRepository LembreteCached;
@inject ILembreteService LembreteService;

<h1>Editar Lembrete</h1>

<LembreteForm Lembrete="lembrete"></LembreteForm>

<BtnSalvarCancelar onSalvar="salvar" ></BtnSalvarCancelar>

@code {

    Lembrete lembrete;

    [Parameter]
    public Guid Id { get; set; }

    protected override async void OnInitialized()
    {
        var lembretes = LembreteCached.LembretesCache;
        this.lembrete = lembretes.First(x => x.Id == Id);
    }

    protected void salvar()
    {
        LembreteService.UpdateLembrete(lembrete);
    }

    protected void cancelar()
    {
        
    }


}
