@page "/lembrete/editar/{Id:guid}"
@using MeuLembrete.Core.Services;
@using MeuLembrete.Core.Model;
@using MeuLembrete.Core.Util;
@using MeuLembrete.Shared.LembreteComponents;

@inject LembreteCachedRepository LembreteCached;
@inject ILembreteService LembreteService;
@inject NavigationManager NavigationManager;


<h1>Editar Lembrete</h1>

<ErrosDaTela MensagemErro="@mensagemErro" MensagemValidacao="@mensagemValidacao"></ErrosDaTela>

<LembreteForm Lembrete="lembrete"></LembreteForm>

<BtnSalvarCancelar onExecutarAcao="salvar" onCancelar="cancelar" ></BtnSalvarCancelar>

@code {

    Lembrete lembrete;

    [Parameter]
    public Guid Id { get; set; }

    protected bool mensagemErro;
    protected IEnumerable<string> mensagemValidacao = null;

    protected override async void OnInitialized()
    {
        this.lembrete = await LembreteService.GetLembreteById(Id);
    }

    protected void salvar()
    {
        try
        {
            LembreteService.Validate(lembrete);
            LembreteService.UpdateLembrete(lembrete);
            LembreteCached.UpdateCache();
        }
        catch(LembreteValidationException exValidation)
        {
            mensagemValidacao = new List<string>() { exValidation.Message };
        }
        catch(Exception)
        {
            mensagemErro = true;
            throw;
        }
    }

    protected void cancelar()
    {
        NavigationManager.NavigateTo("/");
    }


}
