@page "/lembrete/editar/{Id:int}"
@using MeuLembrete.Core.Services;
@using MeuLembrete.Core.Model;

@inject ILembreteService LembreteService;

<h1>Editar Lembrete</h1>

<LembreteForm Lembrete="lembrete"></LembreteForm>

<BtnSalvarCancelar onSalvar="salvar" ></BtnSalvarCancelar>

@code {

    Lembrete lembrete;

    [Parameter]
    public int Id { get; set; }

    protected override async void OnInitialized()
    {
        var lembretes = await LembreteService.GetLembretes();
        this.lembrete = lembretes.First(x => x.Id == Id);
    }

    protected void salvar()
    {
        LembreteService.UpdateLembrete(lembrete);
    }

    protected void cancelar()
    {
        
    }


}
