@page "/lembrete/novo"
@using MeuLembrete.Services;
@using MeuLembrete.Model;

@inject ILembreteService LembreteService;

<h1>Novo Lembrete</h1>

<LembreteForm Lembrete="lembrete"></LembreteForm>

<BtnSalvarCancelar onSalvar="salvar" onCancelar="cancelar"></BtnSalvarCancelar>

@code {
    private int currentCount = 0;
    Lembrete lembrete = new Lembrete();

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {

    }

    protected void salvar()
    {
        LembreteService.AddLembrete(lembrete);
    }

    protected void cancelar()
    {

    }
}
