@page "/lembrete/novo"
@using MeuLembrete.Core.Services;
@using MeuLembrete.Core.Model;
@using MeuLembrete.Shared.LembreteComponents;

@inject ILembreteService LembreteService;
@inject LembreteCachedRepository LembreteCachedRepository;

<h1>Novo Lembrete</h1>

<LembreteForm Lembrete="lembrete"></LembreteForm>

<BtnSalvarCancelar onSalvar="salvar" onCancelar="cancelar"></BtnSalvarCancelar>

@code {
    private int currentCount = 0;
    Lembrete lembrete = new Lembrete();

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {

    }

    protected void salvar()
    {
        LembreteService.AddLembrete(lembrete);
        LembreteCachedRepository.UpdateCache();

    }

    protected void cancelar()
    {

    }
}
